/ {
    macros {

        lights_out: lights_out {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &bl BL_SET 10>
                , <&macro_wait_time 1500>
                , <&macro_press &soft_off>
                , <&macro_pause_for_release>
                , <&macro_release &soft_off>;
        };

        mc_selw: mc_selw {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <
                &macro_tap &kp LA(LEFT)
                &macro_tap &kp LA(RIGHT)
                &macro_press &kp LA(LS(LEFT))
                &macro_pause_for_release
                &macro_release &kp LA(LS(LEFT))
                &macro_tap &sl 17>;
        };

        mc_seln: mc_seln {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <
                &macro_tap &kp HOME
                &macro_tap &kp HOME
                &macro_press &kp LS(DOWN)
                &macro_pause_for_release
                &macro_release &kp LS(DOWN)
                &macro_tap &sl 17>;
        };

        mc_delword: mc_delword {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&macro_tap &kp LA(BACKSPACE)>;
        };

        mc_joinwords: mc_joinwords {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <
                &macro_tap &kp LA(LEFT)
                &macro_tap &kp BACKSPACE
                &macro_tap &kp LA(RIGHT)
            >;
        };

        selectline: selectline {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp HOME &kp LS(END)>;
            label = "SELECTLINE";
        };

        selectword: selectword {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(RIGHT) &kp LC(LEFT) &kp LS(LC(RIGHT))>;
            label = "SELECTWORD";
        };

    };
};
